/* Small-screen devices */

body
{
 background: linear-gradient(to right, #ffffff, #00aa77 90%);
}

label
{
 display: block;
 padding-top: 1em;
 padding-bottom: 1.5em;
 font-size: 2em;
 border-top: 2px solid #afe;
 background: linear-gradient(to right, #ffffff, #44aa77 90%, #00aa77);
}

form
{
 margin-top: 70px;
}

.altLabel
{
 background: linear-gradient(to right, #ffffff 20%, #00aa77);
}

/* Floating header bar */

#header-bar
{
 display: flex;
 width: 100%;
 height: 70px;
 flex-direction: row;
 position: fixed;
 top: 0px;
 left: 0px;
 background: url(cleanguy.png),#079;
 background-repeat: no-repeat;
 padding-left: 77px;
 border-bottom: 3px solid #000;
}

#header-status
{
 width: 100%;
 margin-left: -77px;
 padding-top:20px;
 text-align: center;
 font-size: 2em;
}

.activeSheet
{
 background: url(../sheeticon.png);
 background-repeat: no-repeat;
 background-position: right top;
}

/* Header form styles */

form#header
{
 display: none;
}

form#header label
{
 font-style: italic;
}

form#header input,select
{
 font-size: 1em;
 font-style: none;
 margin-top: 1em;
 text-align: center;
 border: none;
}

/* Sheet form styles */

form#sheet label
{
 font-weight: bold;
}

form#sheet input,textarea
{
 width: 90%;
 font-size: 1em;
 font-style: none;
 margin-top: 1em;
 text-align: center;
}

/* jQuery overrides for specific layout */

.ui-datepicker
{
 font-size: 1em;
 width: 60%;
}

.ui-selectmenu-menu
{
 font-size: 2em;
}

.ui-selectmenu-text
{
 font-size: 2em;
 font-weight: bold;
}

